<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devhyc.easypos">
    <!-- INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- BLUETOOTH ANDROID -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>
    <!-- PERMISOS PINPAD -->
    <uses-permission android:name="com.sunmi.perm.MSR" />
    <uses-permission android:name="com.sunmi.perm.ICC" />
    <uses-permission android:name="com.sunmi.perm.PINPAD" />
    <uses-permission android:name="com.sunmi.perm.SECURITY" />
    <uses-permission android:name="com.sunmi.perm.CONTACTLESS_CARD" />

    <application
        android:name="com.devhyc.easypos.EasyManagementMobile"
        android:allowBackup="true"
        android:icon="@drawable/pos2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pos2"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyPosTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.devhyc.easypos.ui.login.LoginActivity"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.EasyPosTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.devhyc.easypos.MainActivity"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.EasyPosTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>